/* Applies padding above and below the #destinations element */
#destinations {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Defines a grid layout for elements with class .destinations */
.destinations {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

/* Styling for individual destination items */
.destination {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

/* Styles for images within .destination */
.destination img {
  object-fit: cover; /* Scale image to cover entire container */
  max-height: 240px;
  overflow: hidden;
  width: 100%;
}

/* Styling for the overlay location text */
.destination .location {
  bottom: 0; /* Positioned at the bottom */
  position: absolute;
  width: 100%; /* Make it take up the entire width of the parent element (.destination) */
  color: white;
  text-align: center;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.9)
  );
  padding: 20px 0; /* Padding top and bottom */
}

/* Styling for the strong element within .location */
.destination .location strong {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

/* Styling for the .country element within .location */
.destination .location .country {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  opacity: 0.6;
}

/* Media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
    /* Adjusting layout for larger screens within #destinations */
  #destinations .description {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
  }

   /* Adjusting grid layout for .destinations on larger screens */
  .destinations {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }

  /* Adjusting border-radius for .destination items */
  .destination {
    border-radius: 0; /* No border radius */
  }

  /* Setting border-radius for first .destination item */
  .destination:first-of-type {
    border-radius: 1rem 0 0 1rem;
  }

   /* Setting border-radius for last .destination item */
  .destination:last-of-type {
    border-radius: 0 1rem 1rem 0;
  }

  /* Adjusting max-height for images within .destination items */
  .destination img {
    max-height: none; /* No maximum height */
  }

   /* Adjusting font-size for strong element within .location */
  .destination .location strong {
    font-size: 32px; /* Larger font size */
  }
}
