/* Applies padding above and below the #gallery element */
#gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  
  /* Defines a grid layout for .gallery-grid */
  .gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responsive grid with auto-fit columns */
    gap: 10px; /* Gap between grid items */
  }
  
  /* Styles for individual gallery items */
  .gallery-item {
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative; /* Positioned relative to its normal position */
  }
  
  /* Styles for images within .gallery-item */
  .gallery-item img {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    object-fit: cover; /* Scale image to cover container */
    transition: transform 0.3s; /* Smooth transition for hover effect */
  }
  
  /* Hover effect for first .gallery-item */
  .gallery-item:first-child:hover img {
    transform: scale(1.1); /* Scale image on hover */
  }
  
  /* Styles for anchor tags within .gallery-item */
  .gallery-item a {
    display: block;
    height: 100%;
    width: 100%;
  }

  .gallery-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 30px;
}

.gallery-item {
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  object-fit: cover;
  max-height: 240px;
  width: 100%;
}

.gallery-item .location {
  bottom: 0;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  padding: 20px 0;
}

.gallery-item .location strong {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.gallery-item .location .country {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  opacity: 0.6;
}

.gallery-item .location {
  bottom: 0;
  position: absolute;
  width: 100%;
  color: white;
  text-align: center;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  padding: 20px 0;
}

.gallery-item .location strong {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.gallery-item .location .country {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  opacity: 0.6;
}

/* Media query for screens with a minimum width of 768px */
@media screen and (min-width: 768px) {
  .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .gallery-item {
    border-radius: 0;
  }

  .gallery-item:first-of-type {
    border-radius: 0 0 0 0;
  }

  .gallery-item:last-of-type {
    border-radius: 0 0 0 0;
  }

  .gallery-item img {
    max-height: none;
  }

  .gallery-item .location strong {
    font-size: 32px;
  }
}